body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #f4f4f4;
}

.search-container {
    margin-bottom: 20px;
    display: none;
}

.search-container input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.prisoner-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(200px));
    gap: 20px;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.prisoner-card {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}

.prisoner-card:hover {
    transform: scale(1.05);
}

.prisoner-card img {
    width: 100%;
    height: 180px;
    border-radius: 5px;
}

.prisoner-info {
    margin-top: 10px;
}

.actions {
    margin-top: 10px;
}

.actions button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

.edit-btn {
    background: #ffc107;
    color: white;
    border-radius: 5px;
}

.edit-btn:hover {
    background: #fdec00;
}

.edit-btn:active{
    background: #6e5403;
}

.delete-btn {
    background: #dc3545;
    color: white;
    border-radius: 5px;
}

.delete-btn:hover{
    background: #ff1129;
}

.delete-btn:active{
    background: #800915;
}

.add-prisoner-container {
    margin-bottom: 20px;
}

.add-prisoner-container select {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.add-prisoner-container input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.edit-prisoner-container {
    margin-bottom: 20px;

    display: none;
}

.edit-prisoner-container select {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.edit-prisoner-container input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.add-btn {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.add-btn:hover{
    background: #1ad646
}

.add-btn:active{
    background: #135e24;
}

#loadprisoners {
    background: #2878a7;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    
    margin-bottom: 20px;
    
}

.update-btn {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.update-btn:hover{
    background: #1ad646
}

.update-btn:active{
    background: #135e24;
}

#loadprisoners:hover {
    background: #199eeb;
}

#loadprisoners:active{
    background: #1d516e;
}